/*******************HEADER*******************/

.headerContainer{
  background-color: rgb(57,62,89);
}

a {
  text-decoration: none;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navBarContainer{
  display: flex;
  justify-content: center;
}

.boxi {
  display: flex;
  justify-content: center;
}

/*******************FOOTER*******************/

.footerContainer{
  background-color: rgb(57,62,89);
  margin: auto;
}

.posFooter {
  color: white;
  display: flex;
  justify-content: center;
}

.detailFooter {
  display: flex;
  margin: 2% 5% 2% 5%;
}

.infoFooter{
  line-height: 35px;
  text-decoration:
}

.pad {
  padding: 0 0 0 0;
}
