/*******************HEADER*******************/
.headerContainer{
  min-height: 150px;
  padding: 2.5% 0 0 0;
  background-color: rgb(57,62,89);
}

a {
  text-decoration: none;
}

.current{
  background-color: rgb(56, 84, 211);
  color: white;
}

nav a {
  color:white;
}

nav a:hover {
  color: rgb(170, 170, 170);
}


/*******************FOOTER*******************/

.footerContainer{
  background-color: rgb(57,62,89);
  margin: auto;
}

.posFooter {
  color: white;
  display: flex;
  justify-content: center;
}

.detailFooter {
  display: flex;
  margin: 2% 5% 2% 5%;
}

.infoFooter{
  line-height: 35px;
  text-decoration:
}

.pad {
  padding: 0 0 0 0;
}
